Checks: modernize-*, clang-analyzer-*, performance-*, cppcoreguidelines-*, bugprone-*, -readability-*,
      -modernize-use-trailing-return-type, -modernize-use-nodiscard, -bugprone-easily-swappable-parameters,
      -readability-magic-numbers

CheckOptions:
  - key: cppcoreguidelines-avoid-do-while.IgnoreMacros
    value: true